#main {

    margin: 100px auto;
}
#main h1{
    margin: 0;
}
table{
     margin: 0 auto;
        }
table td {
        border: 1px solid;
        padding: 20px 15px;

}
table td:hover {
        background-color: deeppink;
        color:white;
}
#container{
            float: left;
}
.screen{
    background-color: greenyellow;
}